{% extends '::layout/home.html.twig' %}

{% block main %}
	<div class="container-fluid">
		<din class="row">
			<div class="col-lg-6" >
				<h3>Répertoire</h3>
					<ul class="nav nav-tabs nav-justified">
						<li ><a href="#">Client</a></li>
						<li><a href="#">Entreprise</a></li>
					</ul>
					{% if clients is not empty %}
					{% for client in clients %}
						<div class="well">
							{{ client.nom }}
						</div>
					{% endfor %}
					{% else %}
						<div class="well" style="text-align:center">
							<h2>Vos n'avez pas encore de contact.</h2>
						</div>
					{% endif %}
			</div>	
			<div class="col-lg-6">
				<a class="btn btn-default" href="{{  path('bg_plateform_add_client') }}">Ajouter client</a>
				<a class="btn btn-default" href="{{ path("bg_plateform_add_company") }}">Ajouter entreprise</a>
			</div>
		</din>
	</div>
{% endblock %}